<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.optimization.odpadky">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        >
        <!-- To be able to use app properly, insert Google maps API key in value property -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <!-- Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>

        <activity
            android:name=".ui.MapsActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name="cz.optimization.odpadky.ui.TrashbinAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.ALL_BUTTON" />
                <action android:name="android.appwidget.action.GLASS_BUTTON" />
                <action android:name="android.appwidget.action.CLEAR_GLASS_BUTTON" />
                <action android:name="android.appwidget.action.METAL_BUTTON" />
                <action android:name="android.appwidget.action.PLASTIC_BUTTON" />
                <action android:name="android.appwidget.action.PAPER_BUTTON" />
                <action android:name="android.appwidget.action.CARTON_BUTTON" />
                <action android:name="android.appwidget.action.ELECTRICAL_BUTTON" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/trashbin_appwidget_info" />
        </receiver>

        <activity android:name=".ui.DetailActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cz.optimization.odpadky.ui.MapsActivity" />

        </activity>

    </application>

</manifest>